body {
	font-size: 16px;
	color: #fff;
	background-color: #ffffff;
	width: 100%;
	height: 100%;
}

/* NAVBAR START */

#logo {
	max-height: 50px;
}

/* NAVBAR END */

/* MAIN START */

.location-hours {
	color: black;
	padding: 30px 20px;
	font-size: .9rem;
}

.services p {
	padding-right: 20px;
}

.services-header {
	font-size: 1.4rem;
	padding: 0 0 10px 0;
}

.services {
	color: #000;
	background-color: #ededed;
	font-size: 1rem;
	padding: 20px 0px 0px 20px;
}

.contact-us-header {
	color: #000;
	font-size: 1.4rem;
	padding: 10px 0 10px 10px;
}

.row-container {
	display: flex;
	justify-content: center;
}

.bi-telephone, .bi-envelope, .bi-calendar-event {
	height: 2.5rem;
	width: 2.5rem;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 3px;
	color: #514e4c;
}

.phone, .envelope, .schedule {
	margin: 0 17px;
}

@media (min-width: 375px) {
	.phone, .envelope, .schedule {
		margin: 10px 23px;
	}
}

@media (min-width: 475px) {
	.phone, .envelope, .schedule {
		margin: 15px 32px 0 32px;
	}
}

@media (min-width: 575px) {
	.phone, .envelope, .schedule {
		margin: 15px 40px 0 40px;
	}
}

@media (min-width: 675px) {
	.phone, .envelope, .schedule {
		margin: 15px 50px 0 50px;
	}
}

@media (min-width: 992px) {
	.row-container {
		margin-top: 10px 0 0 0;
		padding: 60px 10px;
		background-color: #ededed;
	}

	.bi-telephone, .bi-envelope, .bi-calendar-event {
		height: 2rem;
		width: 2rem;
		margin-top: 2px;
		margin-bottom: 2px;
		margin-right: 3px;
	}

	.contact-us-phone, .general-questions, .schedule-appointment {
		margin: 0 30px;
		padding: 2px 10px;
		border: 1px solid #514e4c;
		border-radius: 15px;
		transition: background-color 0.3s ease, color 0.3s ease;
	}

	.contact-us-phone:hover, .general-questions:hover, .schedule-appointment:hover {
		background-color: #514e4c;
		border: 1px solid #514e4c;
		color: #fff !important;

	}

	#phone-lg, #email-lg, #schedule-lg {
		display: inline-flex;
		align-items: center;
		text-decoration: none;
		color: #514e4c;
		transition: color 0.3s ease;
		font-size: 1rem;
		padding: 5px .4rem;
		justify-content: center;
		text-align: center;
		width: 236px;
	}

	#phone-lg svg, #email-lg svg, #schedule-lg svg {
		vertical-align: middle;
		margin-right: 8px;
		color: #514e4c;
		transition: color 0.3s ease;
	}

	#phone-lg span, #email-lg span, #schedule-lg span {
		vertical-align: middle;
		color: #514e4c;
		transition: color 0.3s ease;
	}

	#phone-lg:hover, #email-lg:hover, #schedule-lg:hover {
		text-decoration: none;
		color: #fff;
		cursor: pointer;
	}

	#phone-lg:hover svg, #email-lg:hover svg, #schedule-lg:hover svg, #phone-lg:hover span, #email-lg:hover span, #schedule-lg:hover span {
		color: #fff;
	}
}


.map-frame {
	margin-top: 60px;
}


.map-content {
	width: 100%;
	height: 300px;
}

.reviews {
	color: black;
}

.review-name {
	font-weight: 700;
	margin-bottom: 2px;
	margin-top: 40px;
}

.review-location {
	font-weight: 400;
}

.stars-container {
	vertical-align: center;
}

.stars {
	vertical-align: 2px;
}

.review-date {
	font-weight: 400;
}

.review-content {
	font-size: .9rem;
}

/* MAIN END */

/* FOOTER START */

.icon-container {
	display: flex;
	justify-content: center;
}

.facebook-container, .instagram-container, .yelp-container {
	margin: 0 30px 0 30px;
}

.bi-facebook, .bi-instagram, .bi-yelp {
	color: #000;
	height: 2.5rem;
	width: 2.5rem;
	margin-top: 50px;
	margin-bottom: 60px;
}

.footer {
	background-color: #ededed;
	margin-top: 50px;
}

.footer-contact {
	color: #363737;
	text-align: center;
}

.copyright {
	color: #adadad;
	background-color: #ededed;
	font-size: .9rem;
	text-align: center;
	padding-bottom: 20px;
}

/* FOOTER END */

/******** Large Devices Only *********/
@media (min-width: 1200px) {}




/******** Medium Devices Only *********/
@media (min-width: 992px) {
	.location-hours {
		margin-top: 10px;
		font-size: 1.03rem;
	}

	.services {
		background-color: #fff;
		margin-top: 18px;
	}

	.contact-us-header {
		margin-top: 15px;
	}







}

/******** Small Devices Only *********/
@media (min-width: 768px) and (max-width: 991px) {

	/* Home Page */


	/* End Home Page */
}

/******** Extra Small Devices Only *********/
@media (max-width: 767px) {

	/* Header */

	/* End Home Page */

	/*Single Category Page */

}

/******** Super Extra Small Devices Only (iPhone 4) *********/
@media (max-width: 479px) {

	/* Header */


	/* End Header */

	/* Home Page */

}